.color-box{
	display: block;
	height: 160px;
	text-align: center;
	padding: 20px 0;
	opacity: 0.8;
	transition: all .5s;
	&:hover{
		text-decoration: none;
		color: #333333;
		opacity: 1;
		transform: scale(1.1);
	}
	&:focus{
		text-decoration: none;
	}
	.count{
		font-size: 50px;
		height: 80px;
		line-height: 80px;
	}
	.desc{
		font-size: 18px;
		.fa{
			margin-right: 5px; 
		}
	}
}